# Generated with hyprdynamicmonitors freeze.
# This is a template that you can edit, it is just a starter that pulled your current monitor setup,
# adjust as needed.
# You can use templates here etc, see https://github.com/fiffeek/hyprdynamicmonitors/blob/main/examples/basic/hyprconfigs/template.go.tmpl.
# Monitors are given arbitrary tags (the "monitor" prefix and the ID coming from hyprland).
# If you are using tui to edit, leave this at the end of your file (the last monitor config applies)
# and leave the markers.
# <<<<< TUI AUTO START
monitor=desc:Acer Technologies KA272 A 23080A2BD3W01,1920x1080@60.00000,840x0,1.00000000,transform,1,vrr,0
monitor=desc:Acer Technologies ED320QR S 2217001BD3W01,1920x1080@144.00101,1920x0,1.00000000,transform,0,vrr,0
# <<<<< TUI AUTO END

{{- $vertical := index .MonitorsByTag "vertical" -}}
{{- $main := index .MonitorsByTag "main" -}}

# Workspace Layout
{{- if $vertical }}
workspace = 1,monitor:{{$vertical.Name}}
workspace = 7,monitor:{{$vertical.Name}}
workspace = 8,monitor:{{$vertical.Name}}
{{- end}}

{{- if $main }}
workspace = 2,monitor:{{$main.Name}}
workspace = 3,monitor:{{$main.Name}}
workspace = 4,monitor:{{$main.Name}}
workspace = 5,monitor:{{$main.Name}}
workspace = 6,monitor:{{$main.Name}}
workspace = 9,monitor:{{$main.Name}}
workspace = 10,monitor:{{$main.Name}}
{{- end}}

