# Generated with hyprdynamicmonitors freeze.
# This is a template that you can edit, it is just a starter that pulled your current monitor setup,
# adjust as needed.
# You can use templates here etc, see https://github.com/fiffeek/hyprdynamicmonitors/blob/main/examples/basic/hyprconfigs/template.go.tmpl.
# Monitors are given arbitrary tags (the "monitor" prefix and the ID coming from hyprland).
# If you are using tui to edit, leave this at the end of your file (the last monitor config applies)
# and leave the markers.
# <<<<< TUI AUTO START
monitor=desc:Acer Technologies KA272 A 23080A2BD3W01,disable
monitor=desc:Acer Technologies ED320QR S 2217001BD3W01,disable
monitor=desc:BOE 0x0A81,1920x1080@120.00200,1920x1080,1.00000000,transform,0,vrr,0
# <<<<< TUI AUTO END

{{- $laptop := index.MonitorsByTag "laptop" -}}

# Workspace Assignment
workspace = 1,monitor:{{$laptop.Name}} 
workspace = 2,monitor:{{$laptop.Name}}
workspace = 3,monitor:{{$laptop.Name}}
workspace = 4,monitor:{{$laptop.Name}}
workspace = 5,monitor:{{$laptop.Name}}
workspace = 6,monitor:{{$laptop.Name}}
workspace = 7,monitor:{{$laptop.Name}}
workspace = 8,monitor:{{$laptop.Name}}
workspace = 9,monitor:{{$laptop.Name}}
workspace = 10,monitor:{{$laptop.Name}}
